<div class="row">
	<div class="col-md-12">
		<h1 class="page-header">What is Granny Gear?</h1>
		<p class="lead">Granny Gear is a bicycle gear analysis tool to display and compare different bicycle gear setups and their respective properties.</p>

		<p>
			Bicycle drivetrains today generally come in two types, derailleur gears and internal gear hubs.
		</p>
		<p>
			Most people are familiar with the classical derailleur gear drivetrain that works with a chain that is moved trough a shifting mechanism up and down across different sized cogs to change the gear ratio.
		</p>
		<p>
			The internal gear hub drivetrain contains all gears inside the rear hub of the rear wheel. In this gear shifting happens inside the gear hub and the chain runs always over the same chainring and cog.
		</p>

		<h1 class="page-header">What can I do with Granny Gear?</h1>
		<p>
			Granny Gear allows you to choose a drivetrain peset or lets you configure a custom drivetrain setup to analyze to then investigate its properties trough computed values and plotted graphs.<br>
			Presets include almost any of the currently available drivetrains on the market and offers a selection of many others that have been produced in the past.
		</p>

		<h1 class="page-header">I think I found a bug.</h1>
		<p>
			If you come across a bug or you see erroneous results please file a bug on the <a href="https://github.com/tbinna/granny-gear/issues">github repository</a>.
		</p>

		<h1 class="page-header">Any future develpment?</h1>
		<p>
			Future plans include a comparsion function and an extended analysis with more numbers and graphs.<br>
			If you have any recommendations or feedback I would be happy to hear from you!
		</p>

	</div>
</div>