<div class="page-header">
	<h1>Everything about Granny Gear</h1>
</div>

<div class="row">
	<div class="col-md-12">
		<p>Granny Gear is a bicycle gear analysis tool to display and compare different gear setups and their respective properties.</p>
		<p>More to follow soon...</p>
	</div>
</div>