<div class="page-header">
	<h1>Results</h1>
</div>

<p class="lead">Your configuration leades the following results.</p>

<p>Params <%= @params %></p>

<div class="row">
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-body">
				<%= column_chart @derailleur_gear.gear_ratio %>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-body">
				-- Gear setup goes here --
			</div>
		</div>
	</div>
</div>

<%= link_to "Edit your setup or create a new analyis", controller: "analysis", action: "setup" %>
