<div class="page-header">
	<h1>Setup Gear Configuration</h1>
</div>

<p class="lead">Setup the gear configuration for your analysis.</p>

<div class="row">
	<div class="col-md-12">
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="heading1" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
					<h3 class="panel-title"><a>Derailleur Gears</a></h3>
				</div>
				<div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
					<div class="panel-body">
						<%= render 'form_derailleur_gear_setup' %>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="heading2" data-toggle="collapse" data-parent="#accordion" data-target="#collapse2" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
					<h3 class="panel-title"><a>Internal Gear Hub</a></h3>
				</div>
				<div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
					<div class="panel-body">
						<%= render 'form_internal_gear_hub_setup' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>