<%= form_tag("/internal-gear-hub-analysis/result", method: "post") do %>
<div class="form-group col-md-12">
	<%= label_tag "Choose an internal gear hub to analyze", nil, class: "col-md-5" %>
	<div class="col-md-5">
		<%= select_tag(:id, options_from_collection_for_select(InternalGearHub.all, :id, :description)) %>
	</div>
</div>
<div class="form-group">
	<%= submit_tag "Analyze", class: "btn btn-default pull-right" %>
</div>
<% end %>