<%= form_tag("/derailleur-gear-analysis/result", method: "post") do %>
<div class="form-group col-md-12">
	<%= label_tag "Choose a derailleur gear preset to analyze", nil, class: "col-md-5" %>
	<div class="col-md-5">
		<%= select_tag(:id, options_from_collection_for_select(DerailleurGear.all, :id, :description)) %>
	</div>
</div>
<div class="form-group">
	<%= submit_tag "Analyze", class: "btn btn-default pull-right col-md-1 col-md-offset-11" %>
</div>
<% end %>

