// Place all the styles related to the Analysis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stats-value {
	font-size: 27px;
	margin-bottom: 20px;
	font-weight: 300;
	line-height: 1.4;
}