/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$basic-blue: #2c3e50;
$active-green: #18bc9c;
$muted-gray: #f5f5f5;

 $navbar-default-link-hover-bg: transparent;
 $navbar-default-link-active-bg: transparent;
 $navbar-default-link-color: $muted-gray;
 $navbar-default-link-active-color: $active-green;
 $navbar-default-link-hover-color: #fff;

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lobster);

 /* Sticky footer styles
 -------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: $muted-gray;
}

 /* Navbar styles
 -------------------------------------------------- */
.navbar {
  background-color: $basic-blue;
}
.nav.navbar-nav {
  float: right;
}
.navbar-nav > li {
  display: inline-block;
}
.navbar-nav > li + li {
  margin-left: 20px;
}
.navbar-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border-bottom: 3px solid transparent;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: $muted-gray;
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  color: $active-green;
  border-bottom-color: $active-green;
  background-color: transparent;
}
.navbar-brand.logo-text {
  font-size: 25px;
  color: #FFF;
  &:hover {
    color: $active-green;
  }
}


/* Custom page CSS
-------------------------------------------------- */

.container {
  width: auto;
  max-width: 880px;
  padding: 0 15px;
}

.container .text-muted {
  margin: 20px 0;
}

body > .container {
    padding-top: 60px;
}

.logo-text {
  font-family: 'Lobster', cursive;
  font-weight: 400
}

.footer .logo-text {
  font-size: 16px;
}

